.swal2-popup-custom {
    font-family  : 'Poppins', sans-serif;
    border-radius: 1rem;
    padding      : 1.5rem;
}

.swal2-title-custom {
    color      : #2563eb;
    font-size  : 1.25rem;
    font-weight: 600;
}

.swal2-html-custom {
    color      : #374151;
    font-weight: 400;
}